<h3>ABOUT US</h3>
<p>
	C-DAC, Bengaluru centre, is the 2nd of C DAC centres to be established in 1989 to carry-out research and deliver
	solutions and products in the area of System Software for PARAM series of super computers of C-DAC. PARAM Padma,
	housed at C-DAC's Terascale Supercomputing Facility (CTSF) is a result of its third mission project in High
	Performance Computing Technologies.
	<br />
	<img id="aboutImg" src="https://i.ibb.co/GVh0jmG/cdackp.png" alt="CDAC ACTS KP">
	<br />
	The centre is highly acclaimed as a centre for excellence in the thematic areas of High Performance and Grid
	Computing, Cyber Security and Cyber Forensic, Professional Electronics, FOSS and Software Technologies, Language and
	Heritage Computing and Training
</p>
<h3>Mission</h3>
<p>
	&#10148;&nbsp;Deliver cutting edge computing technologies
	<br />
	&#10148;&nbsp;Continue to maintain strength in System Software Development
	<br />
	&#10148;&nbsp;Indigenously develop generic automation technologies
	<br />
	&#10148;&nbsp;Preserve and propagate the rich Indian Heritage
	<br />
	&#10148;&nbsp;Impart quality training in high-end technologies
	<br />
	&#10148;&nbsp;Carry out R&amp;D in Software-intensive Systems and Technologies.
	<br />
</p>