<!DOCTYPE html>
<html>

<head>
	<title>CDAC Student Portal Knowledge Park Bengaluru</title>
	<link href="https://fonts.googleapis.com/css?family=Krub" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="This is the unofficial student-made website for cdac students and aspirants especially for cdac knowledge park, Bengaluru. You are free to read any posted content here on this website but to add your own content you have to join us by registering a new account here.">
</head>

<body>
	<h1 class="hidden">Unofficial Student Portal CDAC ACTS Knowledge Park, Bengaluru</h1>
	<div class="topBar">
		<div class="barRight">
			Phone: +91-80-6611 6400/01/02/03, 25244059/25246823/25246826
		</div>
		Unofficial Student Portal CDAC ACTS Knowledge Park, Bengaluru
	</div>
	<div class="logoBar">
		<div class="barRight">
			<a class="menuElement socialButton hovshade" onclick=href='https://cdac.in'>Goto Official Website</a>&nbsp;
			{{#if user}}
			<a class="menuElement socialButton hovshade" onclick=href='/logout'>Log Out {{user.username}}</a>
			{{else}}
			<a class="menuElement socialButton hovshade" onclick=href='/login'>Log In</a>
			{{/if}}
			&nbsp;
			<img class="socialButton1" src="https://image.ibb.co/cc4ZoF/Facebook.png" alt="Facebook" onclick="javascript:location.href='https://www.facebook.com/CDACINDIA/?ref=br_rs'">
			<img class="socialButton1" src="https://image.ibb.co/fx2nE6/rsz-1yt.png" alt="Youtube" onclick="javascript:location.href='https://www.youtube.com/channel/UC3dvIHML7V25-KiGf-MzSdw'">
		</div>
		<img id="logo" src="https://i.ibb.co/mRbMMQt/341162-518008888215054-1931559054-o.jpg" alt="CDAC ACTS" onclick="javascript:location.href='/'">
	</div>
	<div id="menuBar">
		<a class="menuElement hovshade" onclick=href='/'>Home</a>&nbsp;
		<a class="menuElement hovshade" onclick=href='/notice0'>Announcements</a>&nbsp;
		<a class="menuElement hovshade" onclick=href='/discussion0'>Forum</a>&nbsp;
		<a class="menuElement hovshade" onclick=href='/gallery0'>Gallery</a>&nbsp;
		<a class="menuElement hovshade" onclick=href='/res0'>Resources</a>&nbsp;
		<a class="menuElement hovshade" onclick=href='/courses'>Courses</a>&nbsp;
		<a class="menuElement hovshade" onclick=href='/rnd'>R&amp;D</a>&nbsp;
		<a class="menuElement hovshade" onclick=href='/infra'>Infrastructure</a>&nbsp;
		<a class="menuElement hovshade" onclick=href='/admission'>Admission</a>&nbsp;
		<a class="menuElement hovshade" onclick=href='#bottomBar'>About</a>
	</div>

	<div id="main">

		{{> _msg}}

		{{{body}}}

	</div>
	<div class="topBar">
		<h3>CONTACT US</h3>
		<div class="barRight">
			Centre for Development of Advanced Computing
			<br />
			Pune University Campus, Ganesh Khind
			<br />
			Pune - 411 007
			<br />
			Maharashtra (India)
			<br />
			<br />
			Phone:+91-20-2570-4100
			<br />
			<br />
			Fax: +91-20-2569 4004
		</div>
		C-DAC Knowledge Park
		<br />
		Opp. HAL Aeroengine Division
		<br />
		Old Madras Road, Byappanahalli
		<br />
		Bengaluru - 560038
		<br />
		Karnataka (India)
		<br />
		<br />
		Phone: +91-80-6611 6400/01/02/03,
		<br />
		25244059/25246823/25246826
		<br />
		<br />
		Fax: +91-80-2524-7724
		<br />
		<br />
		<a class="menuElement hovshade" onclick=href='https://www.google.com/maps/place/C-DAC/@12.9896804,77.6501484,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae1139aafb10e7:0xd773e57a228d116f!8m2!3d12.9896804!4d77.6523371'>Show
			in Google Maps</a>
	</div>
	<div class="logoBar">
		<div class="barRight">
			<a class="menuElement hovshade" id="bottomBar" onclick=href='https://linkedin.com/in/pankajk2526'>Linkedin</a>
		</div>
		Website developed by - Pankaj Kumar
	</div>
</body>

</html>