<h3>WELCOME</h3>

<p>
This is the unofficial student-made website for cdac students and aspirants especially for cdac knowledge park, Bengaluru. We hope your experience here at cdac be will exciting and valuable. Remember, with passion and persistence you can achieve the best of what you wish to have. 
<br /><br />
You are free to read any posted content here on this website but to add your own content you have to join us by registering a new account here. Make sure to have fun.
<br /><br />
You can visit Announcements where you can learn or post any valuable news for cdac students. You can also visit the Forum where you can read or post in the discussion of your choice. Also, there are options to learn from resources provided by students under Resources and watch pictures/videos shared by students under Gallery or you can add your own content.
<br /><br />
In case you need to report something or have any suggestions you can contact the creator or maintainer of this website at the bottom of this page.
</p>

<br />

{{> _about}}