<h4>Log In to your Account :</h4>
<form class="formdiv" action="/login" method="post">
    &nbsp;&nbsp;
    <label for="email">Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input name="email" type="email" placeholder="Enter your Email" maxlength="50" required></input>
    <br /><br />&nbsp;&nbsp;
    <label for="passwd">Password: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input name="passwd" type="password" placeholder="Enter a New Password" maxlength="100" required></input>
    <br /><br />&nbsp;&nbsp;
    <button class="menuElement" type="submit">Log In</button>
    &nbsp;
    <a class="menuElement" onclick=href="/register">Don't have an Account Yet... Sign Up!</a>
</form>