<h3>RESOURCES</h3>

<br />

<p class="blueChat">
    <img class="gallery" src="https://i.ibb.co/MRjCXvy/IMG-20180302-115505.jpg" alt="Home Automation" onclick="javascript:location.href='https://electronicstopper.blogspot.com/2018/03/advanced-home-automation-with-voice.html'" />
    <a onclick=href='https://electronicstopper.blogspot.com/2018/03/advanced-home-automation-with-voice.html'>Advanced
        Home Automation with Voice Recognition</a>
    <p>A project built on Raspberry Pi which can process natural
        voice commands from any mobile device to control any electrical appliance or initiate any
        automated task. The project can work in presence of LAN or through internet remotely. It
        also features fire, gas and theft alarm system along with automation for elders or disabled.
    </p>
    <br /><br /><br />
</p>
<p class="blueChat">
    <img class="gallery" src="https://i.ibb.co/X2BkfTZ/smart-home.jpg" alt="Arduino Projects" onclick="javascript:location.href='https://electronicstopper.blogspot.com/2017/06/home-automation-system.html'" />
    <a onclick=href='https://electronicstopper.blogspot.com/2017/06/home-automation-system.html'>Smart Home Subsystems
        on Arduino</a>
    <p>I am Designing sub-systems of Home Automation System and then attempting to merge them into one.
        Several sub-systems includes - Smart Switch Board, LCD Display, Password Interface, Theft Alarm System, Fire
        Alarm, Gas Alarm, Automatic Door Bell, Automatic Night Light, Automatic Human Presence Light, Notification LED
        and Worker Robot.
    </p>
    <br /><br /><br />
</p>
<p class="blueChat">
    <img class="gallery" src="https://i.ibb.co/BC0mMyq/Capture1.png" alt="Tank War" onclick="javascript:location.href='https://electronicstopper.blogspot.com/2017/06/c-project-1990s-graphical-tank-war-game.html'" />
    <a onclick=href='https://electronicstopper.blogspot.com/2017/06/c-project-1990s-graphical-tank-war-game.html'>C++
        Project: 1990’s Graphical Tank War Game</a>
    <p>A game developed in c++ which resembles a shooting game of 1990’s using basic graphics and file handling
        function.
    </p>
    <br /><br /><br /><br /><br />
</p>
<p class="blueChat">
    <img class="gallery" src="https://i.ibb.co/260jLm0/IMG-20160609-181306.jpg" alt="LFOR" onclick="javascript:location.href='https://electronicstopper.blogspot.com/2017/06/line-following-and-obstacle-avoiding.html'" />
    <a onclick=href='https://electronicstopper.blogspot.com/2017/06/line-following-and-obstacle-avoiding.html'>Line
        Following and Obstacle Avoiding Robot</a>
    <p>A Line Following and Obstacle Avoiding Robot is a Robot (usually a vehicle) which have both the characteristics
        of the Line Following Robot and the Obstacle Avoiding Robot i.e.,
        it follows a coloured path (usually a black line) and avoids any obstacle on the way.
    </p>
    <br /><br /><br /><br />
</p>
<p class="blueChat">
    <img class="gallery" src="https://i.ibb.co/CV1SR9S/3.jpg" alt="FPGA First Program" onclick="javascript:location.href='https://electronicstopper.blogspot.com/2017/08/implementing-first-fpga-program.html'" />
    <a onclick=href='https://electronicstopper.blogspot.com/2017/08/implementing-first-fpga-program.html'>Implementing
        First FPGA Program Blinking LED Checking Input, Output and Delay in VHDL</a>
    <p>In this tutorial, we will implement our first program on FPGA board. We will basically work with input, output
        and time delay on the FPGA development board.
        We will implement the program which will blink LED while taking input from push button.
        The LED will blink naturally, but when a user presses the push button then the LED will stop blinking and glow
        continuously.
    </p>
    <br /><br />
</p>
<p class="blueChat">
    <img class="gallery" src="https://i.ibb.co/YcWL7Rg/11.png" alt="8 bit RISC CPU" onclick="javascript:location.href='https://electronicstopper.blogspot.com/2017/06/8-bit-risc-cpu-in-verilog.html'" />
    <a onclick=href='https://electronicstopper.blogspot.com/2017/06/8-bit-risc-cpu-in-verilog.html'>8 bit RISC CPU in
        Verilog</a>
    <p>Design of 8 bit RISC CPU (Reduced Instruction Set Computer) in Verilog.
    </p>
    <br /><br /><br /><br /><br /><br />
</p>
<p class="blueChat">
    <img class="gallery" src="https://i.ibb.co/vzTNxwP/IMG-20170605-123132.jpg" alt="Water Sensor" onclick="javascript:location.href='https://electronicstopper.blogspot.com/2017/06/basic-electronics-project-water-sensor.html'" />
    <a onclick=href='https://electronicstopper.blogspot.com/2017/06/basic-electronics-project-water-sensor.html'>Water
        Sensor Circuit</a>
    <p>As the name suggests, this circuit tests for presence of water. This circuit can also be used a water level
        indicator and rain detection alarm.
    </p>
    <br /><br /><br /><br /><br />
</p>

<br />

{{> _about}}