<h3>RESOURCES</h3>

<br />

<p class="blueChat">
    <img class="gallery" src="https://i.ibb.co/sK9SkWp/Voice-assistant-smartphone-large.jpg" alt="RLVA" onclick="javascript:location.href='https://github.com/pankajk2526/RLVAv2'"/>
    <a onclick=href='https://github.com/pankajk2526/RLVAv2'>Remote Linux Voice Assistant</a>
    <p>Remote Linux Voice Assistant, for automating daily activities of a savvy computer user like 
        browsing, streaming, downloading, monitoring, managing, media playing and voice typing.
    </p>
    <br /><br /><br /><br /><br />
</p>
<a class="menuElement centerButton" onclick=href='/res1'>View More</a>