#logo {
	width: 200px;
	height: 70px;
}

body {
	font-family: 'Krub', sans-serif;
	background-color: #DCDCDC;
}

textarea {
	width: 90%;
	height: 200px;
	float: center;
	padding: 12px;
}

input {
	width: 75%;
	float: center;
	padding: 12px;
}

pre {
	white-space: pre-wrap;
	/* Since CSS 2.1 */
	white-space: -moz-pre-wrap;
	/* Mozilla, since 1999 */
	white-space: -pre-wrap;
	/* Opera 4-6 */
	white-space: -o-pre-wrap;
	/* Opera 7 */
	word-wrap: break-word;
	/* Internet Explorer 5.5+ */
	font-size: 15px;
}

.topBar {
	padding: 3px 400px;
	background-color: #9370DB;
	color: white;
}

.barRight {
	text-align: right;
	float: right;
}

.logoBar {
	padding: 3px 400px;
	background-color: white;
}

.socialButton {
	vertical-align: -25px;
}

.socialButton1 {
	vertical-align: -37px;
}

#menuBar {
	text-align: center;
	padding: 10px 400px;
	background-color: #9370DB;
}

.menuElement {
	padding: 3px 5px;
	font-size: 20px;
	color: black;
	background-color: lightgreen;
	border-radius: 7px;
}

.centerButton {
	margin-left: 45%;
}

.leftButton {
	margin-left: 5%;
}

#main {
	margin: 0 auto;
	width: 1110px;
	background-color: white;
	padding: 5px 20px;
	box-shadow: 12px 0 15px -4px rgba(103, 111, 121, 0.8), -12px 0 8px -4px rgba(103, 111, 121, 0.8);

}

#aboutImg {
	float: left;
	width: 580px;
	height: 280px;
	padding: 20px 20px 20px 0;
}

.notice {																	
	background-color: rgb(205, 157, 245);
	width: 91%;
	margin-left: 40px;
	margin-bottom: 10px;
	border-radius: 20px;
	padding: 12px;
	word-wrap: break-word;
}

.blueChat {
	background-color: lightblue;
	width: 91%;
	margin-left: 40px;
	margin-bottom: 10px;
	border-radius: 0 20px 0 20px;
	padding: 12px;
	word-wrap: break-word;
}

.redChat {
	background-color: lightcoral;
	width: 91%;
	margin-left: 40px;
	margin-bottom: 10px;
	border-radius: 0 20px 0 20px;
	padding: 12px;
	word-wrap: break-word;
}

.blueChatHead {
	background-color: lightblue;
	width: 95.5%;
	margin-bottom: 10px;
	border-radius: 0 0 50px 50px;
	padding: 12px 25px;
	word-wrap: break-word;
	text-align: center;
}

.redChatHead {
	background-color: lightcoral;
	width: 95.5%;
	margin-bottom: 10px;
	border-radius: 0 0 50px 50px;
	padding: 12px 25px;
	word-wrap: break-word;
	text-align: center;
}

.formdiv {
	background-color: rgb(255, 209, 2);
	padding: 20px;
	border-radius: 10px;
}

.hidden {
	display: none;
}

.curruser {
	display: none;
}

.gallery {
	margin-right: 20px;
	float: left;
	width: 230px;
	height: 180px;
}

.description {
	height: 175px;
}

img:hover {
	cursor: pointer;
}

a:hover {
	color: black;
	background-color: #FFE4B5;
	cursor: pointer;
}

.hovshade:hover {
	box-shadow: 0 0 5px 2px;
}

button:hover {
	color: black;
	background-color: #FFE4B5;
	cursor: pointer;
}

@media only screen and (max-width: 1024px) {
	body {
		width: 1150px;
	}

	.topBar {
		padding: 1px 20px;
	}

	.logoBar {
		padding: 1px 20px;
	}

	#menuBar {
		padding: 10px 0;
	}
}